footer a { 
  font-weight: bold;
  color: #444;
}
footer a:hover {
  color: #444;
  text-decoration: none;
}
#products .product .card, #catalog .product .card { margin-bottom: 20px; }
#catalog .catalog-listing .card .card-body .card-title { margin-bottom: 0; }
#products .login-form, #catalog .login-form { margin-top: 15px; }

.breadcrumb { 
  background-color: rgba(0,0,0,.03); 
  border: 1px solid rgba(0,0,0,.125);
}